<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="top-page-title" align="center">My projects</h1>
    
    <%= render partial: "project_card", collection: @projects, as: :project %>
  </div>
</div>