<h1>Index of projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project), id: "project-#{project.name}" %>
      <%= link_to "Edit", edit_project_path(project), class: "btn btn-info" %>
    </li>
  <% end %>
</ul>