<h1>Show project page</h1>

<%= @project.name %>

<h2>Bugs</h2>
<%= link_to "Report Bug", new_project_bug_path(@project), class: "btn btn-primary" %>

<ul>
  <% @project.bugs.each do |bug| %>
    <li><%= bug.description %></li>
  <% end %>
</ul>